<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				         http://www.springframework.org/schema/context
				         http://www.springframework.org/schema/context/spring-context-3.0.xsd
				         http://www.springframework.org/schema/tx
				         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
				         http://www.springframework.org/schema/aop 
				         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!-- 使用注解式注入 -->  
    <!-- 自动扫描 ,忽略@Controller注解的类，以避免注解冲突-->
	<context:component-scan base-package="cn.train">
         <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
	
	  <!-- 读取 database 配置文件 -->  
	  <context:property-placeholder location="classpath:database.properties"/>
	  
		<!-- 配置数据源,使用 dbcp 连接池 -->
 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" scope="singleton">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.connection.url}"/>
		<property name="username" value="${jdbc.connection.username}"/>
		<property name="password" value="${jdbc.connection.password}"/>
		<property name="initialSize" value="${initialSize}" />
		<property name="maxActive" value="${maxActive}" />
		<property name="maxIdle" value="${maxIdle}" />
		<property name="minIdle" value="${minIdle}"/>
		<property name="maxWait" value="${maxWait}" />
		<property name="removeAbandoned" value="${removeAbandoned}"/>
		<property name="removeAbandonedTimeout" value="${removeAbandonedTimeout}" />
		
		<!-- SQL 心跳   解决数据库重新连接的问题，保证连接池中的连接是真实有效的连接-->
		<!-- 开启 evict 的定时校验，循环校验 -->
		<property name="testWhileIdle" value="true" />
		<!-- 定义 evict 的时间间隔，单位毫秒，大于 0 时才会开启 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 在进行 borrowObject 处理时，会对拿到的连接进行校验，把它设置成不校验 -->
		<property name="testOnBorrow" value="false" />
		<!-- 在进行 returnObject 处理时，会对返回的连接进行校验，把它设置成不校验 -->
		<property name="testOnReturn" value="false" />
		<!-- 校验使用的 SQL 语句，复杂的校验会影响性能 -->
		<property name="validationQuery" value="select 1"/>
		<!--配置每次校验连接的数量,一般是最大活动数 maxActive -->
		<property name="numTestsPerEvictionRun" value="${maxActive}"></property>
		
	</bean> 
	

	<!-- sqlSessionFactory 对象 spring 和 MyBatis 完美整合 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:myBatisConfig.xml"/>
	</bean>
	
	<!-- 事务管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 事务增强 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Throwable"/>
		</tx:attributes>
	</tx:advice>
	
	
	<!-- AOP支持 -->
	<aop:config>
		<aop:pointcut expression="execution(* cn.train.service..*(..))" id="tx_pc"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="tx_pc"/>
	</aop:config>
	<!-- AOP代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	

    <!-- mapper 映射  DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.train.dao"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
	

	
</beans>

