<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.train.dao.TrainDao">

  <insert id="addTraininfo" parameterType="Traininfo">
      insert into train_info values (#{train_no},#{start_station},#{arrival_station},
      #{start_time},#{arrival_time},#{type},#{runtime},#{mile})
  </insert>

  <select id="getTraininfoList" resultType="Traininfo">
      select * from train_info
  </select>
  
  <delete id="deleteTraininfoById" parameterType="int">
       DELETE from train_info where train_no = #{train_no}
  </delete>
  
  <select id="getTraininfoDetail" parameterType="int" resultType="Traininfo">
          select * from train_info where train_no = #{trainNo}
  </select>
  
  

</mapper>